.footer {
    display: flex;
    margin-top: 140px;
    margin-left: 105px;
    margin-bottom: 30px;
    color: white;
}

.name-contacts {
    font-size: 32px;
}

.cont {
    font-size: 21px;
}

.logo-footer:hover {
    cursor: pointer;
}

.logo-footer {
    margin-top: 30px;
    margin-left: 450px;
    overflow:hidden;
    width: 325px;
    height: 180px;
} 


.sec-foot-logo img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
 
.sec-foot-logo img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}