@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
body {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  margin-top: 20px;
  -webkit-input-placeholder: Georgia;
}

input::-webkit-input-placeholder {
  font-weight: 600;
}
input[type~='name'],
input[type~='email'] {
  font-weight: 600;
}
input {
  outline: none;
}

.container {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
}

.white {
  background: linear-gradient(to top, #000, #ffff, #000);
}

.white1 {
  background: linear-gradient(to top, #000, #fff);
}

.black {
  background-color: #000;
}

.black-foot {
  background-color: rgb(26, 25, 25);
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Lato', sans-serif;
}

input {
  background: none;
  border: none;
  font-weight: bold;
}

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

em,
strong,
b,
span {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
  display: inline;
}
