.prod_descr, .bl-5, .bl-6 {
    padding: 100px 0;
}

.pd {
    display: flex;
}

.pd-descr {
    font-size: 42px;
    color: white;
    text-align: justify;
}

.pc1 {
    width: 550px;
    height: 555px;
}

.pc2 {
    width: 500px;
    height: 555px;
}


.hd2 {
    color: black;
}

.pt1 {
    margin-left: 50px;
    font-style: italic;
    text-align: center;
    font-size: 26px;
    width: 600px;
    color:white;
}

.pt3 {
    font-style: italic;
    text-align: center;
    font-size: 26px;
    width: 550px;
    color:white;
}

.pt2 {
    font-style: italic;
    text-align: center;
    font-size: 26px;
    width: 600px;
    color: black;
}

.pd-descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-right {
    margin-left: 120px;
}

.text-left {
    margin-right: 180px;
}

.pd-descr > h3 {
    text-align: center;
}

.pd-descr > p {
    margin-top: 20px;
    text-align: center;
}