* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: sans-serif;
}

input {
  background: none;
  border: none;
}

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
}

em,
strong,
b,
span {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
  display: inline;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
