.about-catalog img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
 }
 
.about-catalog img:hover{
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
 }

.about-catalog {
    display: flex;
}

.catalog{
    display: flex;
}

.catalog-head {
    display: flex;
}

.catalog-name {
    width: 345px;
    margin-top: 220px;
    margin-left: 105px;
    font-size: 68px;
    font-weight: bold;
    color: white;
}

.plusCat:hover{
    cursor: pointer;
}

.plusCat {
    transition: 1s;
    opacity: 0.3;
    margin-top: 220px;
    font-size: 70px;
    color: white;
}

.slider {
    overflow: hidden;
}

.slider-line {
    width: 1400px;
    display: flex;
    position: relative;
    left: 0;
    transition: all 1s ease;
}

.product-picture {
    position: relative;
    margin-left: 100px;
    margin-bottom: 20px;
    width: 555px;
    height: 550px;
    margin-top: 15px;
}

.product-picture:hover {
    cursor: pointer;
}

.description-product {
    width: 100%;
    text-align: center;
    margin-left: 140px;
    color: white;
}

.name-descr {
    margin-top: 10px;
    font-size: 54px;
    font-weight: bold;
    color: darkorange;
}

.text-descr {
    font-size: 27px;
    font-style: italic;
}

.number {
    margin-top: 10px;
    font-size: 170px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.wh1:hover, .wh2:hover, .wh3:hover  {
    opacity: 0.8;
    cursor: pointer;
}

.wh1, .wh2, .wh3 {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-color: white;
    border-radius: 50%;
}

.wheel {
    display: flex;
    justify-content: center;
    margin-left: 7px;
    margin-top: 10px;
}

.scroll-next {
    margin-top: 25px;
    margin-left: 272px;
    display: flex;
    justify-content: center;
    height: 10px;
    min-width: 180px;
    width: 180px;
    background-color: darkorange;
}

.next:hover {
    transition: 0.2s;
    opacity: 0.8;
    cursor: pointer;
}

.next {
    margin-top: -15px;
    font-weight: bold;
    font-size: 35px;
}

.catDescr {
    height: 80px;
    width: 670px;
    margin-top: 220px;
    color: white;
    padding-left: 295px;
}

.butCat:hover {
    text-decoration: underline;
}

.butCat {
    height: 60px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 50px;
    margin-left: 72px;
}

.prod1 {
    margin-left: 100px;
}

.prod3 {
    margin-left: 90px;
}

.pict {
    display: flex;
}

.pictBack1, .pictBack2, .pictBack3 {
    width: 200px;
    font-size: 22px;
    margin-top: 150px;
    padding-right: 150px;
    margin-left: -340px;
    color: white;
}